services:
  db: 
    image: postgres:18.1-alpine3.23
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: delivery_app
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      target: prod
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./backend:/var/www/backend
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      target: prod
      dockerfile: Dockerfile
    ports:
      - 5173:5173
    volumes:
      - ./frontend:/var/www/frontend
    depends_on:
      - backend
      - db

  redis: 
    image: redis:8.4.0-alpine3.22
    ports:
      - 6379:6379 
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: